.start-page {
    height: 100vh;
    background: linear-gradient(255.35deg, #DC3131 0.83%, rgba(255, 79, 79, 0) 108.93%), #FF5E56;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page__btn {
    padding: 16px 32px;
    border: 1px solid #FFFFFF;
    background: transparent;
    border-radius: 6px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    cursor: pointer;
}

.start-page__btn:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.start-page__btn:disabled {
    background-color: #BEC5CC;
    color: #FFFFFF;
}

@media (max-width: 320px) {
    .start-page__btn {
        font-size: 12px;
        line-height: 16px;
    }
}