@font-face {
  font-family: 'Lab Grotesque';
  src:
    url('./fonts/LabGrotesque-Regular/LabGrotesque-Regular.woff2') format('woff2'),
    url('./fonts/LabGrotesque-Regular/LabGrotesque-Regular.woff') format('woff'),
    url('./fonts/LabGrotesque-Regular/LabGrotesque-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Lab Grotesque';
  src:
    url('./fonts/LabGrotesque-Medium/LabGrotesque-Medium.woff2') format('woff2'),
    url('./fonts/LabGrotesque-Medium/LabGrotesque-Medium.woff') format('woff'),
    url('./fonts/LabGrotesque-Medium/LabGrotesque-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lab Grotesque", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 14px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
